.main_container{

    width: 99vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countdown_container{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    gap: 20px;
    border-radius: 20px;

}

.timer_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.timer_container h1{

    font-size: 7rem;
    margin: 0;

}